<div class="backoffice">
  <div class="side-menu">

    <div class="menu-wrapper">
      <ul>
        <li class="active">
          <a href="">
            <div><span class="material-symbols-outlined">home</span></div>
            <span>Dashboard</span>
          </a>
        </li>
        <li><a href="">
          <div><span class="material-symbols-outlined">sports_soccer</span></div>
          <span>Club</span>
        </a>

        </li>
        <li><a href="">
          <div><span class="material-symbols-outlined">sell</span></div>
          <span>Transfers</span>
        </a>
        </li>
        <li>
          <a href="">
            <div><span class="material-symbols-outlined">directions_run</span></div>
            <span>Players</span>
          </a>
        </li>
        <li>
          <a href="">
            <div><span class="material-symbols-outlined">manage_accounts</span></div>
            <span>Users</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="content">
    <div class="content-header">
      <div class="menu-button">
        <button>
          <span class="material-symbols-outlined">menu</span>
        </button>
      </div>
      <div class="logo">
        <span class="material-symbols-outlined">sports_soccer</span>
      </div>

      <div class="avatar">

        <div class="menu-button">
         <button>
           <span class="material-symbols-outlined">dark_mode</span>
         </button>
        </div>
      </div>


    </div>

    <div class="content-body">

     <app-club></app-club>
    </div>

  </div>
  <div class="aside">
    <div class="search-bar">
      <input type="search" name="search" id="Search" placeholder="Search "/>
    </div>
    <div class="trends">
      <h3>Hots transfers trends</h3>
      <div class="trend-item">
        <div class="trend-item-data">
          <Strong> Attaquant</Strong>
          <h5>Kylian Mbape</h5>
          <Strong> 200 EURO </Strong>
        </div>
        <div class="actions">
            <span class="material-symbols-outlined">
more_horiz
</span>
        </div>
      </div>
    </div>
  </div>
</div>
